body{
  background-image: url("https://media.istockphoto.com/id/504133748/photo/blurred-new-cars-dealership-place.jpg?b=1&s=170667a&w=0&k=20&c=rDP-6mGpBV4e40VRg5Ql48i7Jwmn0Gq3sVwtyJ8UCsA=");
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*{
    margin-top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.fa{
  padding-top: 3%;
}
.container{
max-width: 1000px;
  padding-left: 14rem;
  margin: 2%;
  padding: auto;
}
.btn{
  background-color: rgb(198, 196, 196);
}
span{
    padding-left: 1%;
    font-size: 24px;
    font-weight: 500;
}
#car{
    min-height: 41px;
    margin-left:2%;
}
button{
    padding-left: 1%;
    margin-top: 1%;
}
.text{
        font-family: inherit;
        border: 0;
        border-bottom: 2px solid gray;
        outline: 0;
        background: transparent;
        transition: border-color 0.2s;
}
.text::placeholder {
      color: transparent;
}


@media screen and (max-width:570px) {


  .container{
padding-left: 1%;
  }


  

}

  
